<h1>Bonjour! Veuillez confirmer votre inscription à Fast Fitness s'il vous plait</h1>

<p>
    Clickez sur le lien suivant s'il vous plait: <br><br>
    <a href="{{ signedUrl }}">Confirmer son inscription</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
