{% extends 'template.html.twig' %}

{% block title %}Séances Fast-Fitness{% endblock %}

{% block content %}

<h1 class="titleSeances mt-5">Vous voulez booster votre carrière sportive ou de mannequinat?<br /> prennez rendez vous avec notre coach et/ou notre diététicien</h1>

{% endblock %}


