{% extends 'template.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block content %}
    <h1 class="titleBlog my-5 mx-2">Posez votre commentaire!<br />Julien se fera un plaisir d'y répondre</h1>
    <div class="text-white fs-3 d-flex justify-content-center">
    {{ include('comment/_form.html.twig') }}
    </div>
    <div class="d-flex justify-content-center my-4">
    <a href="{{ path('app_post_index') }}" class="btn btn-success">Page articles</a>
    </div>
{% endblock %}
