{% extends 'template.html.twig' %}

{% block title %}Nouveau commentaire
{% endblock %}

{% block content %}

	<section class="container media-largeur-accueil">

		<h1 class="titleBlog my-5 mx-2">Posez votre commentaire!<br/>Julien se fera un plaisir d'y répondre</h1>


		{{ include('comment/_form.html.twig') }}


		<div class="d-flex justify-content-center my-5">
			<a href="{{ path('app_post_index') }}" class="btn btn-success bouton-accueil">Page articles</a>
		</div>

		<div class="my-5">
			<img src="{{ asset('assets/images/img20.webp') }}" alt="image de fast fitness" class="d-block w-100">
		</div>
        
	</section>

{% endblock %}
