* {
    padding: 0;
    margin: 0;
    font-family: "whitneymedium";
}

@font-face {
    font-family: "whitneymedium", Arial;
    src: url("whitneymedium.woff") format("woff");
}

main {
    background-color: black;
}


/* style des titres de la page accueil*/
.titlesBlocsAccueil {
    color: #2fc134;
}

/* style du bouton de la page d'accueil */
.bouton-accueil {
    background-color: #2fc134 !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: x-large !important;
}
.btn-creation-article {
    background-color: #CC5500 !important;
    color: black !important;
    font-weight: 700 !important;
}
/* style du header */
.headerColors {
    background-color: #f9f103;
}

.headerColors a {
    color: black;
    font-weight: 900;
}

.navbar {
    padding: 0px !important;
}

/*style du footer*/
.footer {
    background-color: #fce706;
}

.footer ul {
    margin: 0 !important;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer ul {
    list-style: none;
}

/* style du blog */
.titleBlog {
    color: #2fc134;
    text-align: center;

}

/* style de la page séances */
.titleSeances {
    color: #2fc134;
    text-align: center;
}

.images-posts {
    width: 200px;
    height: 200px;
}

/*FORMULAIRE REGISTER*/
#registration_form_username {
    border-radius: 15px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: solid black 5px;
}

#registration_form_email {
    border-radius: 15px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: solid black 5px;
}

#registration_form_plainPassword {
    border-radius: 15px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: solid black 5px;
}

#registration_form_agreeTerms {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
}
/*FIN FORMULAIRE REGISTER*/

/*DEBUT STYLE FORMULAIRE LOGIN*/
#inputEmail {
    border-radius: 15px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: solid black 5px;
}

#inputPassword {
    border-radius: 15px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: solid black 5px;
}

#login_form_rememberMe {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 5px;
}
/*FIN STYLE FORMULAIRE LOGIN*/

/*DEBUT STYLE FORMULAIRE NOUVEL ARTICLE*/

#post_title {
    width: 100%;
}

/*FIN STYLE FORMULAIRE NOUVEL ARTICLE*/

/*DEBUT STYLE FORMULAIRE NOUVEAU COMMENTAIRE*/

#comment_content {
    width: 90vw;
}

@media (min-width:992px) {
    #comment_content {
            width: 50vw !important;
    }
}

/*FIN STYLE FORMULAIRE NOUVEAU COMMENTIARE*/

/*DEBUT STYLE DES IMAGES DES ARTICLES*/
@media (min-width:600px)
{
  .queries-articles { 
    height: auto; 
    width: 30%;
    }
}

.image-article {
    float: left;
}

@media (min-width:600px)
{
    .queries-articles-show-post { 
    height: auto; 
    width: 60%;
    }
}

/*FIN STYLE DES IMAGES DES ARTICLES*/

/*DEBUT STYLE DES IMAGES*/
@media (min-width:600px) {

    .images-slider-partie-4 { 
    }

}

.images-slider-partie-4 {
    width: auto;
    height: 40rem;
}

.images-slider-partie-2 {
    width: auto;
    height: 20rem;
}

.image-coach-bouton {
    width: 100%;
    height: auto;
}

.datetimepicker1 {
    width: 300px;
    height: auto;
}

.paragraphes-profil {
    color: #CC5500;
}

.logo-accueil {
    width: 70px;
    height:auto;
}

/* DEBUT STYLE DU CALENDRIER */

.calendar-style span {
    color: white;
}

.fc-content span {
    color: black !important;
}
.fc-title span {
    color: black !important;
}

.fc-title {
    color: black !important;
}

.calendar-style h2 {
    color: white;
    margin: 1rem;
}

.calendar-style .fc-today {
    background-color: grey !important;
}

.fc-list-heading-alt {
    color: black !important;
}

.fc-list-heading-main {
    color: black !important;
}

.fc-button-group {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:700px)
{
    .fc-toolbar { 
    flex-direction: column;     
    }
}

.fc-today-button {
    margin: 0.5rem 0rem 0rem 0rem !important;
}

.fc-next-button {
    margin: 0rem 0rem 0rem 0.5rem !important;
}

.fc-timeGridWeek-button {
    margin: 0rem 0.5rem 0rem 0.5rem !important;
}

.fc-listWeek-button {
    margin: 0.5rem 0rem 0rem 0rem !important;
}

.fc-list-item-time {
    color: yellow !important;
}

.fc-list-item-title {
    color: yellow !important;
}

/* DEBUT STYLE DU DATEPICKER DE RESERVATION */

.xdsoft_time {
    color: green !important;
}

.xdsoft_disabled {
    color: red !important;
}

.xdsoft_current {
    background: grey !important;
}

.d-flex .xdsoft_datetimepicker.xdsoft_dark .xdsoft_calendar td:hover, .d-flex .xdsoft_datetimepicker.xdsoft_dark .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    background-color: #CC5500 !important;
}

@media (min-width:700px)
{
    .xdsoft_datetimepicker {
        width: 600px !important;
        height: 420px !important;
        display: flex !important;
        justify-content: space-between !important;
    }

    td, .xdsoft_datetimepicker .xdsoft_calendar th {
        width: 70px !important;
        height: 50px !important;
    }
    .xdsoft_time {
        width: 70px !important;
        height: 50px !important;
    }   

    .xdsoft_timepicker {
        height: 400px !important;
        width: 80px !important;
    } 
    .xdsoft_calendar {
        width: 450px !important;
        height: 400px !important;
    }
    
    .xdsoft_time_box {
        height: 300px !important;
    }
    div, td, th {
        font-size: 20px !important;
    }
}

.boxed-dark {
    box-shadow: 0 5px 15px -5px rgb(255 255 255 / 51%);
    background: #000;
    border-bottom: 1px solid #444!important;
    border-left: 1px solid #333!important;
    border-right: 1px solid #333!important;
    border-top: 1px solid #333!important;
    color: #ccc;
    border-radius: 0!important;
}

.boxed-dark .card-body {
    background: #000;
    color: #ccc;
}

.fc-slats span {
    display: flex;
    justify-content: flex-start;
    width: 70px !important;
}

.fc-axis .fc-widget-header td {
    width: 70px !important;
}

.media-largeur-accueil {
    width: 100%;
}

@media (min-width:992px) {
    .media-largeur-accueil {
            width: 50% !important;
    }
}

