{% extends 'template.html.twig' %}

{% block title %}Accueil Fast-Fitness
{% endblock %}

{% block content %}
<section class="container col-lg">
	<h1 class="titleAccueil mt-4">FastFitness</h1>
    <div class="d-flex justify-content-center my-1 mx-3">
    <p class="text-white fs-6">Situé à Paris la salle propose l'équipement nécessaire pour le suivi et l'accompagnement de sportifs et sportives professionnel-le-s souhaitant augmenter leurs performances. Grace à un coaching spécialisé pour chaque pratiques sportives nous vous permettront d'obtenir une musculature et une diététique optimale afin de remporter vos compétitions. Nous sommes Julien Serne et Marc Fret, deux professionnels reconnus dans le coaching préparatoire d'athlètes de haut niveau (Iron Man, Marathonniens, sportifs visant les compétions internationnales). Grace à nos conseils vous serez sûr d'être préparé au mieux pour les compétitions.</p>
    </div>
	<div class="d-flex justify-content-center my-1 mx-3">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5251.790343877211!2d2.311771369775398!3d48.841138199999975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67034ac4d4559%3A0xe467cc61460dc234!2sGare%20Montparnasse!5e0!3m2!1sfr!2sfr!4v1661633095846!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="d-flex justify-content-center my-1 mx-3">
		<p class="text-white fs-6">A cinq minutes à pied de la gare Montparnasse. Au 1 rue Maréchal Juin 75001 Paris.</p>
	</div>
	<div class="d-flex justify-content-center my-1 mx-3">
		<h2 class="titleBlocsAccueil fs-4">FastFitness vous propose un accompagnement de qualité avec un diététicien du sport et un coach</h2>
	</div>
	<div class="d-flex justify-content-center my-1 mx-3">
		<p class="text-white fs-6">Nos deux professionnel sont là pour vous conseiller et vous guider vers l'objectif sportif que vous vous êtes fixé. Notre coach a entrainé des professionnels dans de nombreuses disciplines. Notre diététicien propose des programmes qui ont faits leurs preuves. L'équipement nécessaire vers un accompagnement complet vous est proposé. Les conseils que vous obtiendrez vous permettront d'acquérir de nombreuses techniques pour avoir le corp qui convient à votre domaine. Nos professionnel entrainent des sportifs essentiellement mais aussi des mannequins et des acteurs. Si vous voulez avoir un programme sur mesure vous êtes sur la bonne voie. Nos deux expert vous attendent!</p>
	</div>
	<div class="d-flex justify-content-center my-1">
		<a role="button"  href="{{ path('app_seances') }}" class="btn btn-success mb-2">Reserver sa séance</a>
	</div>
	<div class="d-flex justify-content-center my-1 mx-3">
		<h3 class="titleBlocsAccueil fs-3">Qui sommes nous?</h3>
	</div>
	<div class="d-flex justify-content-center my-1 mx-3">
		<p class="text-white fs-6">Nous sommes deux professionnels experimentés dans la nutrition sportive et le coaching de sportifs de haut niveaux. Nous avons également élaboré des programmes pour des acteurs et des mannequins. Si vous voulez avoir des conseils de professionnels détermiez un créneau et franchissez la porte. Les résultats que vous allez obtenir vont booster votre carrière. Les professionnels qe nous entrainons font des progrès considérables en suivant nos conseils.</p>
	</div>
	<div class="d-flex justify-content-center mt-2 mx-3">
		<p class="text-white fs-6">Bonjour je m'appelle Marc Fret. J'espère que tu vas franchir le cap pour améliorer tes performances. Choisir mes programmes c'est évoluer en terme de conception d'entrainement dur mesure. Si tu es déterminé et que tu souhaite aller vite viens me rencontrer.</p>
	</div>
	<div class="d-flex justify-content-center">
		<a class="btn btn-success mb-2" href="{{ path('app_seances') }}" role="button">Séance coaching</a>
	</div>
	<div class="d-flex my-1 mx-3">
		<p class="text-white fs-6">Bonjour je m'appelle Julien Serne.<br/>Je suis diététicien sprotif et j'accompagne dans la prise de poid musculaire ou la période de sèche. Je suis régulièrement consulté par des acteurs également. Ils viennent me voir pour obtenir ou stabiliser un poid idéal. La nutrition est fondamentale et la nutrition sportive permet d'obtenir des gains rapidement. Pourquoi ne pas en profiter? Viens me rencontrer à Fast Fitness et profite de conseils avisés qui te permettront d'atteidre tes objectifs.</p>
	</div>
	<div class="d-flex justify-content-center">
		<a role="button" class="btn btn-success mb-3" href="{{ path('app_seances') }}">Séance nutrition sportive</a>
	</div>
	</section>
{% endblock %}
