{% extends 'template.html.twig' %}

{% block title %}Blog Fast-Fitness{% endblock %}

{% block content %}

<h1 class="titleBlog mt-5">Si vous cherchez des conseils sur la nutrition sportive c'est par ici!</h1>

{% endblock %}
