{% extends 'template.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-center my-4 mx-2">
		<h1 class="titlesBlocsAccueil fs-1 text-center">Ou nous trouver?</h3>
	</div>
	<div class="d-flex justify-content-center my-4 mx-2">
		<div class="">
			<p class="text-white fs-4 text-center">A cinq minutes à pied de la gare Montparnasse</p>
			<p class="text-white fs-4 text-center">1 rue du Maréchal Juin 75034 Paris</p>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="d-flex justify-content-center my-2">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5251.790343877211!2d2.311771369775398!3d48.841138199999975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67034ac4d4559%3A0xe467cc61460dc234!2sGare%20Montparnasse!5e0!3m2!1sfr!2sfr!4v1661633095846!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	<div class="d-flex justify-content-center my-4 mx-2">
		<h2 class="titlesBlocsAccueil fs-1 text-center">Comment nous joindre?</h3>
	</div>
	<div class="">
		<p class="text-white fs-4 text-center">fastfitness@gmail.com</p>
		<p class="text-white fs-4 text-center">06.87.53.24.90</p>
	</div>
{% endblock %}
