{% extends 'template.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block content %}
    <h1 class="titleBlog my-5 mx-2">Salut Julien tu peux modifier et supprimer un article sur cette page</h1>
    <div class="fs-2 text-white my-4 ms-3">
    {{ include('post/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex justify-content-center mb-4">
    <a href="{{ path('app_post_index') }}" class="btn btn-success">Tous les articles</a>
    </div>
{% endblock %}
