{% extends 'template.html.twig' %}

{% block title %}Création article{% endblock %}

{% block content %}
    <h1 class="titleBlog my-5 mx-2">Vous pouvez poser un nouvel article</h1>

    {{ include('post/_form.html.twig') }}
    <div class="d-flex justify-content-center my-4">
    <a href="{{ path('app_post_index') }}" class="btn btn-success">Retourner sur tous les articles</a>
    </div>
{% endblock %}
