{% extends 'template.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    
    <h1 class="titleBlog my-5 mx-2">Salut {{ user.username }}! Bienvenue sur ta page profil</h1>
    <p class="text-white ms-3 fs-4">ton email : {{ user.email }}</p>
    <p class="text-white ms-3 fs-4">voici tes réservations diététicien : </p>
    {% for reservationsDieteticien in reservationsDieteticiens %}
    <p class="text-white ms-3 fs-4">Le {{ reservationsDieteticien.dateDebut ? reservationsDieteticien.dateDebut|date('d/m/Y à H:i') : '' }}</p>
    {% endfor %}
    <p class="text-white ms-3 fs-4">voici tes réservations de coaching : </p>
    {% for reservationsCoach in reservationsCoachs %}
    <p class="text-white ms-3 fs-4">Le {{  reservationsCoach.dateDebut ? reservationsCoach.dateDebut|date('d/m/Y à H:i') : '' }}</p>
    {% endfor %}
{% endblock %}
